/* TYPE.JSX */
.typewriter-container {
  display: inline-block;
  vertical-align: middle; /* Align typewriter text vertically with the heading */
}

/* APP.JSX */
nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

#home {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}