/* TYPE.JSX */
.typewriter-container {
  display: inline-block;
  vertical-align: middle; /* Align typewriter text vertically with the heading */
}

/* APP.JSX */
nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

#home {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ListItem.css */
.list-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  font-size: 18px;
}

.expanded {
  transform: rotate(180deg);
}

.item-content {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
