@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #090045;
  background-color: #E4F1F7;

}

/* Set the color of the scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

/* Set the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #8CA5FF; /* Change this to your desired color */
}

/* Set the color of the scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8CA5FF; /* Change this to your desired color */
}

